<?xml version="1.0" encoding="utf-8"?>

<phpunit backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="./tests/bootstrap.php"
	codecoverage="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	printsummary="true"
	processIsolation="false"
	stopOnFailure="false"
	strict="true"
	syntaxCheck="false"
	timeoutForSmallTests="5"
	verbose="true">

	<testsuites>
		<testsuite name="Spot Test Suite">
			<directory suffix=".php">./tests/Spot/Tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory>./src/Spot/</directory>
		</whitelist>
	</filter>
</phpunit>
